<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a mi primera pagina con {{ title }}!
  </h1>
  <img width="300" alt="Paw Logo" src="http://vignette4.wikia.nocookie.net/horadeaventura/images/b/bd/Huella_de_perro.gif/revision/latest?cb=20121022233409&path-prefix=es">
</div>
<h2>Aquí mis links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/NadiaQN">Github</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/RollerPatitaswiki">Facebook</a></h2>
  </li>
</ul>

